<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nonobank" preserve-order="true">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.nonobank.apps.listener.TestngListener" />
		<listener class-name="org.testng.reporters.FailedReporter" />
		<listener class-name="com.nonobank.apps.listener.TestngRetryListener" />
	</listeners>
	<!-- <test name="Nonobank_Debt" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.admin.DebtFail" />
			<class name="com.nonobank.apps.testcase.admin.DebtPartSuccess" />
			<class name="com.nonobank.apps.testcase.admin.DebtSuccess" />
		</classes>
	</test>
	<test name="Nonobank_BindCard" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.bindcard.BindCardSuccess" />
		</classes>
	</test>

	<test name="Nonobank_WithDrawal" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.withdrawal.WithDrawalSuccess" />
			<class name="com.nonobank.apps.testcase.withdrawal.WithDrawalCheck" />
		</classes>
	</test>

	<test name="licai" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.licai.DebtByBalanceSuccessful" />
			<class name="com.nonobank.apps.testcase.licai.DebtByNewBankCardSuccessful" />
			<class name="com.nonobank.apps.testcase.licai.DebtByOldBankCardSuccessful" />
			<class name="com.nonobank.apps.testcase.licai.JingxuanByBalanceSuccessful" />
			<class
				name="com.nonobank.apps.testcase.licai.JingxuanByNewBankCardSuccessful" />
			<class
				name="com.nonobank.apps.testcase.licai.JingxuanByOldBankCardSuccessful" />
			<class name="com.nonobank.apps.testcase.licai.LanrenByBalanceSuccessful" />
			<class
				name="com.nonobank.apps.testcase.licai.LanrenByNewBankCardSuccessful" />
			<class
				name="com.nonobank.apps.testcase.licai.LanrenByOldBankCardSuccessful" />
			<class name="com.nonobank.apps.testcase.licai.LingyuanByBalanceSuccessful" />
			<class
				name="com.nonobank.apps.testcase.licai.LingyuanByNewBankCardSuccessful" />
			<class
				name="com.nonobank.apps.testcase.licai.LingyuanByOldBankCardSuccessful" />
			<class name="com.nonobank.apps.testcase.licai.TiexinByBalanceSuccessful" />
			<class
				name="com.nonobank.apps.testcase.licai.TiexinByNewBankCardSuccessful" />
			<class
				name="com.nonobank.apps.testcase.licai.TiexinByOldBankCardSuccessful" />

		</classes>
	</test>
	<test name="portal" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.portal.LoginSuccessByMobile" />
			<class name="com.nonobank.apps.testcase.portal.LoginSuccessByUserName" />
			<class name="com.nonobank.apps.testcase.portal.LoginValidateUnRegisterMobile" />
			<class name="com.nonobank.apps.testcase.portal.RegisterSuccess" />
			<class name="com.nonobank.apps.testcase.portal.RegisterSuccessByInvite" />
			<class name="com.nonobank.apps.testcase.portal.RegisterValidateExceptionRegisterMobile" />
			<class name="com.nonobank.apps.testcase.portal.RegisterValidateMobileFormat" />
			<class name="com.nonobank.apps.testcase.portal.RegisterValidateNotexistInvite" />
			<class name="com.nonobank.apps.testcase.portal.RegisterValidatePassword2Format" />
			<class name="com.nonobank.apps.testcase.portal.RegisterValidatePasswordFormat" />
			<class name="com.nonobank.apps.testcase.portal.RegisterValidateRegisterMobile" />
			<class name="com.nonobank.apps.testcase.portal.RegisterValidateUserNameFormat" />
		</classes>
	</test>

	<test name="Nonobank_Recharge" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.recharge.RechargeSuccess" />
			<class name="com.nonobank.apps.testcase.recharge.RechargeCheck" />
		</classes>
	</test>
	<test name="repayment" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.repayment.PrePaymentTestCase" />
			<class name="com.nonobank.apps.testcase.repayment.RepaymentTestCase" />
		</classes>
	</test>
		<test name="student" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.student.BorrowsExcTestCase" />
			<class name="com.nonobank.apps.testcase.student.BorrowsTestCase" />
			<class name="com.nonobank.apps.testcase.student.CreditBookVerifyTestCase" />
			<class name="com.nonobank.apps.testcase.student.NewStudentTestCase" />
			<class name="com.nonobank.apps.testcase.student.WhiteCollarPromptTestcase" />
		</classes>
	</test>
			<test name="withdrawal" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.withdrawal.WithDrawalCheck" />
			<class name="com.nonobank.apps.testcase.withdrawal.WithDrawalSuccess" />
		</classes>
	</test> -->
	<test name="withdrawal" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.portal.RegisterValidateMobileFormat" />
		</classes>
	</test>
</suite>