<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nonobank">
<!-- 
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.nonobank.apps.listener.TestngListener" />
		<listener class-name="org.testng.reporters.FailedReporter" />
		<listener class-name="com.nonobank.apps.listener.TestngRetryListener" />
	</listeners>
	<test name="portal" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.portal.Login" />
			<class name="com.nonobank.apps.testcase.portal.Register" />
		</classes>
	</test>
	<test name="licai" preserve-order="true">
		<classes>
			<class
				name="com.nonobank.apps.testcase.licai.DebtPackageByBalanceSuccessful" />
		</classes>
	</test>
	<test name="recharge" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.recharge.Recharge" />
		</classes>
	</test>
	<test name="withdrawal" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.withdrawal.WithDrawal" />
		</classes>
	</test>
	<test name="registerBindCard" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.bindcard.RegisterBindCard" />
		</classes>
	</test>
	<test name="loginBindCard" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.bindcard.LoginBindCard" />
		</classes>
	</test>
	<test name="repayment" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.repayment.PrePaymentTestCase" />
			<class name="com.nonobank.apps.testcase.repayment.RepaymentTestCase" />
		</classes>
	</test>
	<test name="student" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.student.BorrowsTestCase" />
		</classes>
	</test>

 -->
	<test name="loginBindCard" preserve-order="true">
		<classes>
			<class name="com.nonobank.apps.testcase.bindcard.LoginBindCard" />
		</classes>
	</test>

</suite>